 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ESyz Solutions is one stop solutions to engineering problems, Niket Patel founded this in 2009. He realized that there was a big gap in providing engineering solutions crossing software and hardware. He designed and developed various enterprise focused solutions along with other team members under ESyz brand.</p>
                </div>
                <div class="col-lg-4">
                    <p>ESyz Solutions provides solutions in Industrial Manufacturing,Pharmaceutical and Healthcare, Energy & Utilities - Engineering Services, Cloud Infrastructure Management, Logistics, Retail industries focusing on the iOS/Android Mobile Apps, AWS/Azure/Google Cloud and Distributed Computing Solutions. Machine Learning based solutions has been recently added to open up other venues that industries are not aware of.
                    </p>
                </div>            
            </div>
        </div>
    </section>
